@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url('../public/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url('../public/fonts/Roboto-Medium.ttf');
}


@keyframes flow {
  0%, 100% {
    transform: translateY(-10%);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
}

.tippy-box {
  border-radius: 4px;
  color: white;
  padding: 16px 14px;

  font-size: 13px;
  line-height: 16px;
  font-family: Roboto;
}

.tippy-box .tippy-content {
  padding: 0;
}

.tippy-box[data-theme~='light'] .tippy-arrow {
  color: #31315C;
}

.tippy-box[data-theme~='light'] {
  background: #31315C;
}

.tippy-box[data-theme~='dark'] .tippy-arrow {
  color: #2a2b4f;
}

.tippy-box[data-theme~='dark'] {
  background: #2a2b4f;

}

